<!-- @dsCard group="Components" viewport="700x280" name="CodeBlock" subtitle="Line numbers, copy, highlight" -->
<!DOCTYPE html><html><head><link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{margin:0;padding:20px 24px;background:var(--bg-1)}</style></head><body><div id="root"></div>
<script type="text/babel">
const {CodeBlock}=window.MunyardDevDesignSystem_0136e3;
ReactDOM.createRoot(document.getElementById('root')).render(
<CodeBlock lang="bash" filename="install-arch.sh" highlightLines={[3]} code={`qemu-img create -f raw arch.cow 8G
qemu-system-x86_64 -boot menu=on -cdrom archlinux-2024.04.01-x86_64.iso \\
  -drive file=arch.cow,format=raw -m 4G -accel kvm -cpu host
pacstrap -K /mnt base linux linux-firmware`} />);
</script></body></html>
